body{
    margin: 0%;
}

/* Banner section
------------------- */
.bannerTitle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    justify-content: center;
    justify-items: center;
    margin: 40px 5%;
    border-radius: 20px;
    height: 600px;
}

h1{ 
    font-size: 4em;
    color: white;
    padding: 0 40px;
}

h1,  p{
    padding: 0 40px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 50px;
}

.watchButton{
    margin-left: 40px;
    background-color: orangered;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    padding: 15px 10px;
    text-decoration: none;
}

.watchButton:hover{
    background-color: pink;

}
.banner > span{
    font-size: 2em;
    color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 15px 10px;
}

.imageSection{
    display: grid;
    align-items: flex-end;
    
}


/* Aside section
---------------- */

.navArticle{
    display: grid;
    grid-template-columns: repeat(1, 1fr) 4fr;
    border: pink;
    margin: 40px 5%;
    border-radius: 20px;
    gap: 30px;
}

.navigation{
    height: 460px;
    background-color: black;
    border-radius: 10px;


}

.sideMenu{
    gap: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 2em;
    background-color: white;

}

.sideMenu:hover{
    background-color: red;
}

ul, li{
    display: grid;
    gap: 20px;
    padding: 20px;
}

#singleMenuColor{
    background-color: orangered;
}

#singleMenuColor:hover{
    background-color: white;
}

@media screen and (max-width: 576px){
    .navArticle{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/* Card Section----
----------------- */
.card{
    display: flex;
  

}

.flag{
    display: grid;
    grid-template-rows: repeat(200px, 200px 200px);
    justify-content: center;
    align-items: center;
}


/* footer section
------------------ */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 500px;
}

.footerText{
    color: white;
    font-size: 4em;
}

.footerMenu, p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}




